/build/classes/java/main/io/github/tanguygab/tabadditions/bungee/BungeeListener.class
/build/classes/java/main/io/github/tanguygab/tabadditions/bungee/BungeePlatform$1.class
/build/classes/java/main/io/github/tanguygab/tabadditions/bungee/BungeePlatform.class
/build/classes/java/main/io/github/tanguygab/tabadditions/bungee/TABAdditionsBungeeCord.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/commands/ActionBarCmd.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/commands/NametagCmd.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/commands/TitleCmd.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/actionbar/ActionBarLine.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/actionbar/ActionBarManager.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/advancedconditions/AdvancedConditions$1.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/advancedconditions/AdvancedConditions.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/advancedconditions/NumericCondition.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/advancedconditions/SimpleCondition.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/advancedconditions/StringCondition.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/commands/CommandManager.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/commands/FormatCommand.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/emojis/EmojiCategory.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/emojis/EmojiManager.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/mentions/CustomMention.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/mentions/MentionManager.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/Chat.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/ChatFormat.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/ChatFormatter$1.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/ChatFormatter.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/ChatItem.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/ChatManager.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/ChatUtils.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/MsgManager.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/chat/SocialSpyManager.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/titles/Title.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/titles/TitleManager.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/ConditionalAppearance.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/features/ConditionalNametags.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/Platform.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/TABAdditions.class
/build/classes/java/main/io/github/tanguygab/tabadditions/shared/TranslationFile.class
/build/classes/java/main/io/github/tanguygab/tabadditions/spigot/SpigotListener.class
/build/classes/java/main/io/github/tanguygab/tabadditions/spigot/SpigotPlatform$1.class
/build/classes/java/main/io/github/tanguygab/tabadditions/spigot/SpigotPlatform.class
/build/classes/java/main/io/github/tanguygab/tabadditions/spigot/TABAdditionsSpigot.class
/build/classes/java/main/io/github/tanguygab/tabadditions/velocity/TABAdditionsVelocity.class
/build/classes/java/main/io/github/tanguygab/tabadditions/velocity/VelocityListener.class
/build/classes/java/main/io/github/tanguygab/tabadditions/velocity/VelocityPlatform.class
/build/classes/java/main/velocity-plugin.json
/build/libs/TAB-Additions-2.1.4.jar
/build/reports/problems/problems-report.html
/build/resources/main/bungee.yml
/build/resources/main/chat.yml
/build/resources/main/config.yml
/build/resources/main/plugin.yml
/build/sources/java/io/github/tanguygab/tabadditions/bungee/BungeeListener.java
/build/sources/java/io/github/tanguygab/tabadditions/bungee/BungeePlatform.java
/build/sources/java/io/github/tanguygab/tabadditions/bungee/TABAdditionsBungeeCord.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/commands/ActionBarCmd.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/commands/NametagCmd.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/commands/TitleCmd.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/actionbar/ActionBarLine.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/actionbar/ActionBarManager.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/advancedconditions/AdvancedConditions.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/advancedconditions/NumericCondition.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/advancedconditions/SimpleCondition.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/advancedconditions/StringCondition.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/commands/CommandManager.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/commands/FormatCommand.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/emojis/EmojiCategory.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/emojis/EmojiManager.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/mentions/CustomMention.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/mentions/MentionManager.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/Chat.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/ChatFormat.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/ChatFormatter.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/ChatItem.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/ChatManager.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/ChatUtils.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/MsgManager.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/chat/SocialSpyManager.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/titles/Title.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/titles/TitleManager.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/ConditionalAppearance.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/features/ConditionalNametags.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/Platform.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/TABAdditions.java
/build/sources/java/io/github/tanguygab/tabadditions/shared/TranslationFile.java
/build/sources/java/io/github/tanguygab/tabadditions/spigot/SpigotListener.java
/build/sources/java/io/github/tanguygab/tabadditions/spigot/SpigotPlatform.java
/build/sources/java/io/github/tanguygab/tabadditions/spigot/TABAdditionsSpigot.java
/build/sources/java/io/github/tanguygab/tabadditions/velocity/TABAdditionsVelocity.java
/build/sources/java/io/github/tanguygab/tabadditions/velocity/VelocityListener.java
/build/sources/java/io/github/tanguygab/tabadditions/velocity/VelocityPlatform.java
/build/tmp/compileJava/previous-compilation-data.bin
/build/tmp/jar/MANIFEST.MF
/build/tmp/shadowJar/MANIFEST.MF
/.gradle/8.11/checksums/checksums.lock
/.gradle/8.11/checksums/md5-checksums.bin
/.gradle/8.11/checksums/sha1-checksums.bin
/.gradle/8.11/executionHistory/executionHistory.bin
/.gradle/8.11/executionHistory/executionHistory.lock
/.gradle/8.11/expanded/expanded.lock
/.gradle/8.11/fileChanges/last-build.bin
/.gradle/8.11/fileHashes/fileHashes.bin
/.gradle/8.11/fileHashes/fileHashes.lock
/.gradle/8.11/fileHashes/resourceHashesCache.bin
/.gradle/8.11/gc.properties
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/buildOutputCleanup/outputFiles.bin
/.gradle/vcs-1/gc.properties
/.gradle/file-system.probe
/.idea/modules/TAB-Additions.main.iml
/.idea/modules/TAB-Additions.test.iml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
